@import "tailwindcss";

*{
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Red Hat Text", sans-serif;
}
.home{
    background: url('./assets/images/bg-stars.svg') center center / cover;
    background-color: #231d2b;
}
.home::after{
    content: url('./assets/images/pattern-hills.svg');
    position: absolute;
    width: 100%;
    height: fit-content;
    overflow-x: clip;
    left: 0;
    bottom: 0;
}